/* || Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* || General setup */

html {
  font-size: 11px;
  background-color: #161616;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}


/* || typography */

h1, h2, h3 {
  font-family: 'Helvetica';
  color: #FFFFFF;
}

p, input, li {
  font-family: 'Helvetica';
  color: #FFFFFF;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || Header layout */

.header-nav {
    height: 8rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
}

.nav-logo {
	width: 20vw;
	margin-right: 7%;
	padding: 4px 0px;
}

.header-nav-menu {
	  width: 80vw;
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav-menu li a {
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
    font-weight: 400;
    color: white;
    display: inline-block;
}

.header_nav_menu li a:hover {
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
}

.header-nav-menu li{
    position:relative;
}


/* || Homepage */

main {
	padding-top: 8rem;
}
.homepage {
	  align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-x: clip;
    overflow-y: visible;
    position: relative;
    width: 100%;
}


/* || hp1 */

.hp1 section {
	max-width: 52rem;
}

h1 {
	margin: 4rem 0 2rem 0;
}



/* || hof */

.hof {
	  align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-x: clip;
    overflow-y: visible;
    position: relative;
    width: 100%;
}


/* || - hof1 */

.hof1 section {
	max-width: 52rem;
}


/* || - hof2 */

.hof-table-obs